TicTacToe/.vs/TicTacToe/FileContentIndex/60cdcabd-7b26-4062-8c57-c85bf91fd5c3.vsidx
TicTacToe/.vs/ProjectEvaluation/tictactoe.metadata.v9.bin
/TicTacToe/.vs/ProjectEvaluation
/TicTacToe/.vs/TicTacToe/DesignTimeBuild
/TicTacToe
/TicTacToe
/TicTacToe/.vs/TicTacToe/v17
/TicTacToe/.vs/TicTacToe/v17
/TicTacToe/.vs/TicTacToe
/TicTacToe
TicTacToe/.vs/TicTacToe/v17/DocumentLayout.json
TicTacToe/.vs/TicTacToe/v17/.suo
